@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat&display=swap');
body{
 background-color:#33A1FD;
}
h1{
 text-align:center;
 font-family: 'Monoton', cursive;
 font-size: 80px;
}
li {
 margin: 20px;
 font-family: 'Montserrat', sans-serif;
}
a:link, a:visited {
 color: #31393C;
 text-decoration: none;
}
a:hover{
 font-size: 110%;
}
h1, ul, footer {
 margin: 20px;
 padding: 10px;
 color: #31393C;
 background-color: #FDCA40;
 border:1px solid #F79824;
 border-radius: 15px;
}

